In [1]:
import numpy as np

arr=[6,7,8,9]
print(type(arr))

<class 'list'>

In [4]:
a=np.array(arr)
print(type(a))
print(a.shape)

print(a.dtype)
print(a.ndim)

<class 'numpy.ndarray'>
(4,)
int32
1

In [10]:
np.random.random((2,3))

array([[0.58716581, 0.47733129, 0.80195307],
       [0.50245766, 0.27806507, 0.30122132]])

In [18]:
c=np.array([[1,2,3],[1,2,3]])
d=np.array([[1,2,3],[1,2,3],[6,7,8]])
c**2

array([[1, 4, 9],
       [1, 4, 9]], dtype=int32)

In [20]:
d[2,:]

array([6, 7, 8])

In [33]:
import pandas as pd

url='https://github.com/WalePhenomenon/climate_change/blob/master/fuel_ferc1.csv?raw=true'
fuel_data=pd.read_csv(url)
fuel_data.describe(include='all')

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
count,29523,29523.000000,29523.000000,29523,29523,29343,2.952300e+04,29523.000000,29523.000000,2.952300e+04,29523.000000
unique,29523,NaN,NaN,2315,6,9,NaN,NaN,NaN,NaN,NaN
top,f1_fuel_1994_12_1_0_7,NaN,NaN,big stone,gas,mcf,NaN,NaN,NaN,NaN,NaN
freq,1,NaN,NaN,156,11486,11354,NaN,NaN,NaN,NaN,NaN
mean,NaN,118.601836,2005.806050,NaN,NaN,NaN,2.622119e+06,8.492111,208.649031,9.175704e+02,19.304354
std,NaN,74.178353,7.025483,NaN,NaN,NaN,9.118004e+06,10.600220,2854.490090,6.877593e+04,2091.540939
min,NaN,1.000000,1994.000000,NaN,NaN,NaN,1.000000e+00,0.000001,-276.080000,-8.749370e+02,-41.501000
25%,NaN,55.000000,2000.000000,NaN,NaN,NaN,1.381700e+04,1.024000,5.207000,3.778500e+00,1.940000
50%,NaN,122.000000,2006.000000,NaN,NaN,NaN,2.533220e+05,5.762694,26.000000,1.737100e+01,4.127000
75%,NaN,176.000000,2012.000000,NaN,NaN,NaN,1.424034e+06,17.006000,47.113000,4.213700e+01,7.745000
max,NaN,514.000000,2018.000000,NaN,NaN,NaN,5.558942e+08,341.260000,139358.000000,7.964521e+06,359278.000000

In [31]:
fuel_data.isnull().sum()

record_id                         0
utility_id_ferc1                  0
report_year                       0
plant_name_ferc1                  0
fuel_type_code_pudl               0
fuel_unit                       180
fuel_qty_burned                   0
fuel_mmbtu_per_unit               0
fuel_cost_per_unit_burned         0
fuel_cost_per_unit_delivered      0
fuel_cost_per_mmbtu               0
dtype: int64

In [39]:
fuel_data.groupby('fuel_unit')['fuel_unit'].count()

fuel_data[['fuel_unit']]=fuel_data[['fuel_unit']].fillna(value='mcf')

In [40]:
fuel_data.isnull().sum()

record_id                       0
utility_id_ferc1                0
report_year                     0
plant_name_ferc1                0
fuel_type_code_pudl             0
fuel_unit                       0
fuel_qty_burned                 0
fuel_mmbtu_per_unit             0
fuel_cost_per_unit_burned       0
fuel_cost_per_unit_delivered    0
fuel_cost_per_mmbtu             0
dtype: int64

In [49]:
fuel_data.groupby('report_year')['report_year'].count()

report_year
1994    1235
1995    1201
1996    1088
1997    1094
1998    1107
1999    1050
2000    1373
2001    1356
2002    1205
2003    1211
2004    1192
2005    1269
2006    1243
2007    1264
2008    1228
2009    1222
2010    1261
2011    1240
2012    1243
2013    1199
2014    1171
2015    1093
2016    1034
2017     993
2018     951
Name: report_year, dtype: int64

In [48]:

fuel_data.groupby('fuel_type_code_pudl').first()

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
fuel_type_code_pudl,,,,,,,,,,
coal,f1_fuel_1994_12_1_0_7,1,1994,rockport,ton,5377489.0,16.590000,18.590,18.530,1.121
gas,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,mcf,40533.0,1.000000,2.770,2.770,2.570
nuclear,f1_fuel_1994_12_2_1_1,2,1994,joseph m. farley,kgU,2260.0,0.064094,28.770,0.000,0.450
oil,f1_fuel_1994_12_6_0_2,6,1994,clinch river,bbl,6510.0,5.875338,32.130,23.444,5.469
other,f1_fuel_1994_12_11_0_6,11,1994,w.f. wyman,bbl,55652.0,0.149719,14.685,15.090,2.335
waste,f1_fuel_1994_12_9_0_3,9,1994,b.l. england,ton,2438.0,0.015939,34.180,34.180,1.072

In [50]:
fuel_data.duplicated().any()

False

In [1]:
import pandas as pd
import numpy as np

In [2]:
food=pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding='latin-1')

In [3]:
food.isnull().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [4]:
lst=[[1,2,3],[1,2,3],[1,2,3]]
col=[3553,3535,3535]
df=pd.DataFrame(food)
gk=df.groupby(by=['Area'])
gk.first()

,Area Code,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
Area,,,,,,,,,,,
Algeria,4,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
Angola,7,2501,Population,511,Total Population - Both sexes,1000 persons,26942.00,27884.00,28842.00,29817.00,30810.00
Benin,53,2501,Population,511,Total Population - Both sexes,1000 persons,10287.00,10576.00,10872.00,11175.00,11485.00
Botswana,20,2501,Population,511,Total Population - Both sexes,1000 persons,2089.00,2121.00,2160.00,2205.00,2254.00
Burkina Faso,233,2501,Population,511,Total Population - Both sexes,1000 persons,17586.00,18111.00,18646.00,19193.00,19751.00
Cabo Verde,35,2501,Population,511,Total Population - Both sexes,1000 persons,518.00,525.00,531.00,537.00,544.00
Cameroon,32,2501,Population,511,Total Population - Both sexes,1000 persons,22682.00,23298.00,23927.00,24566.00,25216.00
Central African Republic,37,2501,Population,511,Total Population - Both sexes,1000 persons,4464.00,4493.00,4538.00,4596.00,4666.00
Chad,39,2501,Population,511,Total Population - Both sexes,1000 persons,13664.00,14111.00,14562.00,15017.00,15478.00
Comoros,45,2781,"Fish, Body Oil",5611,Import Quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
Congo,46,2501,Population,511,Total Population - Both sexes,1000 persons,4737.00,4856.00,4981.00,5111.00,5244.00
Côte d'Ivoire,107,2501,Population,511,Total Population - Both sexes,1000 persons,22648.00,23226.00,23823.00,24437.00,25069.00
Djibouti,72,2501,Population,511,Total Population - Both sexes,1000 persons,899.00,914.00,929.00,944.00,959.00
Egypt,59,2501,Population,511,Total Population - Both sexes,1000 persons,90425.00,92443.00,94447.00,96443.00,98424.00
Eswatini,209,2501,Population,511,Total Population - Both sexes,1000 persons,1095.00,1104.00,1114.00,1125.00,1136.00
Ethiopia,238,2501,Population,511,Total Population - Both sexes,1000 persons,98094.00,100835.00,103603.00,106400.00,109224.00
Ethiopia PDR,62,2782,"Fish, Liver Oil",5611,Import Quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
Gabon,74,2501,Population,511,Total Population - Both sexes,1000 persons,1884.00,1948.00,2008.00,2065.00,2119.00
Gambia,75,2501,Population,511,Total Population - Both sexes,1000 persons,2024.00,2086.00,2149.00,2214.00,2280.00
Ghana,81,2501,Population,511,Total Population - Both sexes,1000 persons,27224.00,27849.00,28482.00,29121.00,29767.00
Guinea,90,2501,Population,511,Total Population - Both sexes,1000 persons,11151.00,11432.00,11738.00,12068.00,12414.00
Guinea-Bissau,175,2501,Population,511,Total Population - Both sexes,1000 persons,1692.00,1737.00,1782.00,1828.00,1874.00
Kenya,114,2501,Population,511,Total Population - Both sexes,1000 persons,46700.00,47878.00,49052.00,50221.00,51393.00
Lesotho,122,2501,Population,511,Total Population - Both sexes,1000 persons,2043.00,2059.00,2075.00,2092.00,2108.00
Liberia,123,2501,Population,511,Total Population - Both sexes,1000 persons,4360.00,4472.00,4587.00,4702.00,4819.00
Madagascar,129,2501,Population,511,Total Population - Both sexes,1000 persons,23590.00,24234.00,24894.00,25571.00,26262.00
Malawi,130,2501,Population,511,Total Population - Both sexes,1000 persons,16290.00,16745.00,17205.00,17670.00,18143.00
Mali,133,2501,Population,511,Total Population - Both sexes,1000 persons,16934.00,17439.00,17965.00,18512.00,19078.00
Mauritania,136,2501,Population,511,Total Population - Both sexes,1000 persons,3931.00,4046.00,4164.00,4283.00,4403.00
Mauritius,137,2501,Population,511,Total Population - Both sexes,1000 persons,1257.00,1259.00,1262.00,1264.00,1267.00
Morocco,143,2501,Population,511,Total Population - Both sexes,1000 persons,34192.00,34664.00,35126.00,35581.00,36029.00
Mozambique,144,2501,Population,511,Total Population - Both sexes,1000 persons,26286.00,27042.00,27830.00,28649.00,29496.00
Namibia,147,2501,Population,511,Total Population - Both sexes,1000 persons,2273.00,2315.00,2358.00,2403.00,2448.00
Niger,158,2501,Population,511,Total Population - Both sexes,1000 persons,19240.00,20002.00,20789.00,21602.00,22443.00
Nigeria,159,2501,Population,511,Total Population - Both sexes,1000 persons,176405.00,181137.00,185960.00,190873.00,195875.00
Rwanda,184,2501,Population,511,Total Population - Both sexes,1000 persons,11084.00,11369.00,11669.00,11981.00,12302.00
Sao Tome and Principe,193,2501,Population,511,Total Population - Both sexes,1000 persons,196.00,199.00,203.00,207.00,211.00
Senegal,195,2501,Population,511,Total Population - Both sexes,1000 persons,14175.00,14578.00,14994.00,15419.00,15854.00
Seychelles,196,2781,"Fish, Body Oil",5511,Production,1000 tonnes,0.87,1.24,1.28,0.57,0.57
Sierra Leone,197,2501,Population,511,Total Population - Both sexes,1000 persons,7017.00,7172.00,7329.00,7488.00,7650.00
South Africa,202,2501,Population,511,Total Population - Both sexes,1000 persons,54544.00,55386.00,56208.00,57010.00,57793.00
Sudan,276,2501,Population,511,Total Population - Both sexes,1000 persons,37978.00,38903.00,39847.00,40813.00,41802.00
Sudan (former),206,2781,"Fish, Body Oil",5611,Import Quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
Togo,217,2501,Population,511,Total Population - Both sexes,1000 persons,7138.00,7323.00,7510.00,7698.00,7889.00
Tunisia,222,2501,Population,511,Total Population - Both sexes,1000 persons,11063.00,11180.00,11304.00,11433.00,11565.00
Uganda,226,2501,Population,511,Total Population - Both sexes,1000 persons,36912.00,38225.00,39649.00,41167.00,42729.00
United Republic of Tanzania,215,2501,Population,511,Total Population - Both sexes,1000 persons,49961.00,51483.00,53049.00,54660.00,56313.00
Zambia,251,2501,Population,511,Total Population - Both sexes,1000 persons,15400.00,15879.00,16363.00,16854.00,17352.00
Zimbabwe,181,2501,Population,511,Total Population - Both sexes,1000 persons,13587.00,13815.00,14030.00,14237.00,14439.00

In [5]:
food.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000